.App-logo {
  animation: Banner-bounce infinite 1s cubic-bezier(.5, 0, 1, .5) alternate;
  height: 450px;
}

.App-header {
  display: flex;
  padding-top: 100px;
  justify-content: center;
}

@keyframes Banner-bounce {
  from { transform: translate3d(0, 0, 0); }
  to { transform: translate3d(0, 400px, 0); }
}
