body {
  margin: 0;
  padding: 0;
  color: black;    
  font-family: 'Megrim', cursive;
}

html {
  border-left: 1em solid black;
  border-right: 1em solid black;    
  height: 100%;
  background-image: url("./images/triangle.png");
  background-position: 0 1.06em;
  background-size: 10% 10%;
}

.macron {
  text-decoration: overline;
}

a {
  color: black;
  font-weight: bold;
}

a:hover {
  color: darkgreen;
}

h1, h2, h3, h4, h5, h6 {
  text-align: center;
  text-transform: uppercase;
  font-size: 8vw;
}

h1 span {
  font-size: 9vw;
}

button {
  border: 0px;
  width: 70%;
  background-color: lightgreen;        
  color: black;  
  border-radius: 0px;
/*   Below is needed if we remove skeleton:
  text-transform: uppercase;   */
}

/* .border {
  border:red 1px solid;
}

.app {
  display: flex;
}
 */
.welcomeToTheVa {
  text-align: center;
  margin-top: 40%;
}

.welcomeToTheVa h1 {
  padding: 10%;
  text-transform: none;  
}

.talanoa {
  margin-top: 20%;
  text-align: center;
}

/* .talanoa span {
} */

.talanoa .post {
  background-color: lightgreen;
  border-top-left-radius: 5em;
  border-top-right-radius: 5em;
  border-bottom-right-radius: 5em;
  overflow-wrap: normal;
  margin: 5%;
  margin-left: 15%;
  margin-right: 15%;
  padding: 5%;
  font-size: 2vw;
  display:inline-block;
  text-align: left;
}

.underline {
  background-repeat: repeat-x;
}

.underlineTriangles {
  background-image: url("./images/triangle.png");
  background-position: 0 1.06em;
  background-size: 10% 10%;
}
