body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  color: black;    
}

h1, h2, h3, h4, h5, h6 {
  text-align: center;
  text-transform: uppercase;
  font-size: 8vw;
}

h1 span {
  font-size: 9vw;
}

button {
  border: 0px;
  width: 70%;
  background-color: lightgreen;        
  color: black;  
  border-radius: 0px;
/*   Below is needed if we remove skeleton:
  text-transform: uppercase;   */
}

.welcomeToTheVa {
  text-align: center;
  margin-top: 40%;
}

.welcomeToTheVa h1 {
  padding: 10%;
  text-transform: none;  
}

.underline {
  background-repeat: repeat-x;
}

.underlineTriangles {
  background-image: url("./images/triangle.png");
  background-position: 0 1.06em;
  background-size: 10px 9px;
  color: #f2f3f8;
  transform: rotate(180deg);
}

html {
  line-height: 1;
}
